<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="site-footer" role="contentinfo">
  <div class="footer-logo">
    <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">-->
    <span class="site-title">{{ site.title }}</span>
  </div>

  <ul>
    {% for page in site.pages %} 
      {% if page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> 
      {% endif %} 
    {% endfor %}
  </ul>

  <div class="footer-secondary-links">
    <ul>
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    </ul>

    <ul class="footer-social">

      <li>
        <a href="https://twitter.com/{{ site.usernames.twitter }}">
          <span class="footer-social-icon">{% icon fa-twitter-square fa-2x %}</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ site.usersnames.github }}">
          <span class="footer-social-icon">{% icon fa-github-square fa-2x %}</span>
        </a>
      </li>
      <li>
        <a href="{{ " /feed.xml " | prepend: site.baseurl }}">
          <span class="footer-social-icon">{% icon fa-rss-square fa-2x %}</span>
        </a>
      </li>
    </ul>
  </div>
</footer>

<script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>

<script src="/js/site.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl: '/js/index.json',   // Url for the .json file containing search index data
      results : '#search-results',  // selector for containing search results element
      entries : '.entries',         // selector for search entries containing element (contained within results above)
      template: '#search-results-template'  // selector for Mustache.js template
    });
  });
</script>