<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.url }}" class="logo">
      <!--<img src="{{ '/images/logo/jimueller-logo-bw-half-white.svg' | prepend: site.baseurl }}" alt="Logo Image">-->
      <span class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</span>
    </a>
    
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
          {% if page.title %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          <!--<li class="nav-link"><a href="javascript:void(0)">Products</a></li>-->
          {% endif %}
        {% endfor %}
        <li class="nav-link more"><a href="javascript:void(0)">Categories</a>
          <ul class="submenu">
            {% for category in site.categories %}
            <!--<li><a href="javascript:void(0)">Submenu Item</a></li>-->
            <li class="nav-link"><a href="{{ category[0] | downcase | prepend: '/category/' | prepend: site.baseurl }}">{{ category[0] }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div id="search" class="search-bar">
        <form role="search" action="/search" method="get">
          <input id="search-query" name="q" type="search" placeholder="Search..." />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
