.pin-title { 
	font-size:1em;
	text-decoration:none;
	color:#00a
}
// .pin-description { 
// 	color:#555; 
// }
.pin-tag { 
	color: $green;
	text-decoration:none;
	font-size:0.9em;
        
	&:hover {
		color: lighten($green, 10);
		text-decoration: none;
	}
}

.pin-item {
	background: $gray-darker;
	padding: 0.5em;
	margin: 0.5em 0;
	border-radius: 2px;

	// Little bit of a hack to get tags icon
	// This should work because the first tag will always be the second link
	a.pin-tag:nth-of-type(2){
	
		&::before{
        	font-family: 'FontAwesome';
        	color: $green;
        	content: '\f02c';
        	position: relative;
			margin-right: 0.5em;
        	top: 3px;
		}
	}
}

.pin-title {
	color: $blue;
	font-size: 1.2em;
}