// # Solarized Colors
$solarized-base03  :  #002b36; // Background Darkest
$solarized-base02  :  #073642; // Background Darker
$solarized-base01  :  #586e75; // Content Darkest
$solarized-base00  :  #657b83; // Content Dark
$solarized-base0   :  #839496; // Content 
$solarized-base1   :  #93a1a1; // Content Light
$solarized-base2   :  #eee8d5; // Background Light
$solarized-base3   :  #fdf6e3; // Background Lightest
$solarized-yellow  :  #b58900; // Yellow
$solarized-orange  :  #cb4b16; // Orange
$solarized-red     :  #dc322f; // Red
$solarized-magenta :  #d33682; // Magenta
$solarized-violet  :  #6c71c4; // Violet
$solarized-blue    :  #268bd2; // Blue
$solarized-cyan    :  #2aa198; // Cyan
$solarized-green   :  #859900; // Green

// Generic colors
$gray-darkest   : $solarized-base03;
$gray-darker    : $solarized-base02;
$gray-dark	    : $solarized-base01;
$gray			: $solarized-base00;
$gray-light		: $solarized-base0;
$gray-lightest	: $solarized-base1;
$yellow 		: $solarized-yellow;
$orange 		: $solarized-orange;
$red 			: $solarized-red;
$magenta 		: $solarized-magenta;
$violet 		: $solarized-violet;
$blue 			: $solarized-blue;
$cyan 			: $solarized-cyan;
$green 			: $solarized-green;