---
layout: default
---

<div class="home">

  <h1 class="page-heading">Archive of posts with {{ page.type }} '{{ page.title }}'</h1>

  <div class="post-list">
    {% for post in page.posts %}
      <section class="post">
          <header class="post-header">

            {% if post.link %}
              <h2 class="post-title link-post"><a href="{{ post.link }}">{{ post.title }} {% icon fa-external-link %}</a></h2>
            {% else %}
              <img class="post-avatar" alt="{{ post.author }}&#x27;s avatar" height="48" width="48" src="{{ "/images/avatar/racoon-circle_avatar.png" | prepend: site.baseurl}}">
              <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            {% endif %}

            <p class="post-meta">
              <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> under
              <span class="post-categories">
                {% for category in post.categories %}
                  <a class="post-category" href="{{ category | downcase | prepend: '../' }}">{{ category | capitalize }}</a>
                {% endfor %}
              </span>
            </p>
          </header>
            
          <div class="post-description">
            {{ post.excerpt }}
          </div>
          
          <footer class="post-footer">
            <a class="post-readmore" href="{{ post.url | prepend: site.baseurl }}">Continue Reading {% icon fa-long-arrow-right %}</a>
            
            {% if post.tags != empty %}
              <ul class="post-tags">
              {% for tag in post.tags %}
                <li class="label post-tag"><a href="{{ tag | downcase | prepend: '../' }}">{{ tag }}</a></li>
              {% endfor %}
              </ul>
            {% endif %}
          </footer>
          
      </section>
    {% endfor %}
  </div>

</div>